{% extends 'base/base.html' %}
{% load i18n %}
{% load humanize %}
{% load static %}

{% block title %}
{% blocktrans %}{{platform}} Programs{% endblocktrans %}
{% endblock title %}

{% block custom_js_css_link %}
{% endblock custom_js_css_link %}

{% block page_title %}
{% blocktrans %}{{platform}} Programs{% endblocktrans %}
{% endblock page_title %}

{% block breadcrumb_title %}
<li class="breadcrumb-item"><a href="/{{current_project.slug}}/">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item"><a href="#">{% trans "Bounty Hub" %}</a></li>
<li class="breadcrumb-item active">{% blocktrans %}{{platform}} Programs{% endblocktrans %}</li>
{% endblock breadcrumb_title %}

{% block main_content %}
<div class="row justify-content-center">
    <div class="col-12 col-xl-12">
        <div class="card">
            <div class="card-body">
                <form id="program-filter-form">
                    <div class="row g-3 align-items-center">
                        <div class="col-md-4 col-lg-3">
                            <div class="input-group">
                                <span class="input-group-text"><i class="fe-search"></i></span>
                                <input type="search" class="form-control" placeholder="{% trans 'Search programs' %}" aria-label="{% trans 'Search programs' %}" id="search-program-box">
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-2">
                            <select class="form-select" aria-label="{% trans 'Program type' %}">
                                <option selected>{% trans "All programs" %}</option>
                                <option>{% trans "Bounty Eligible" %}</option>
                                <option>VDP</option>
                                <option>{% trans "Private Programs" %}</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-lg-2">
                            <select class="form-select" id="sort-select" aria-label="{% trans 'Sort programs' %}">
                                <option selected disabled>{% trans "Sort by" %}</option>
                                <option value="name-asc">{% trans "Name (A to Z)" %}</option>
                                <option value="name-desc">{% trans "Name (Z to A)" %}</option>
                                <option value="reports-desc">{% trans "Most reports" %}</option>
                                <option value="reports-asc">{% trans "Least reports" %}</option>
                                <option value="posted-desc">{% trans "Most Recent" %}</option>
                                <option value="posted-asc">{% trans "Least Recent" %}</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-lg-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="show-bookmarked-programs">
                                <label class="form-check-label" for="show-bookmarked-programs">
                                    {% trans "Bookmarked programs" %}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 col-lg-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="show-closed-programs">
                                <label class="form-check-label" for="show-closed-programs">
                                    {% trans "Closed programs" %}
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" id="program_cards">
</div>
<div class="floating-action-container">
  <button id="importProgramsBtn" class="btn btn-primary import-programs-btn" disabled>
    <i class="fe-download-cloud"></i> {% trans "Import Programs" %}
  </button>
  <a href="#" id="clearSelectionsLink" class="clear-selections-link" style="display: none;">
    {% trans "Clear all" %} <i class="fe-x-circle"></i>
  </a>
</div>
{% endblock main_content %}


{% block page_level_script %}
<script src="{% static 'custom/bountyhub.js' %}"></script>
{% endblock page_level_script %}
