#
# General
#
COMPOSE_PROJECT_NAME=suricatoos

#
# SSL specific configuration
#
AUTHORITY_NAME=Suricatoos
AUTHORITY_PASSWORD=CHANGEME_ssl_password
COMPANY=Suricatoos
DOMAIN_NAME=suricatoos.example.com
COUNTRY_CODE=US
STATE=Georgia
CITY=Atlanta

#
# Database configurations
#
POSTGRES_DB=suricatoos
POSTGRES_USER=suricatoos
POSTGRES_PASSWORD=CHANGEME_strong_db_password
POSTGRES_PORT=5432
POSTGRES_HOST=db

#
# Celery Scaling Configurations
#
MAX_CONCURRENCY=80
MIN_CONCURRENCY=10

#
# Suricatoos web interface super user (for non-interactive install)
#
DJANGO_SUPERUSER_USERNAME=suricatoos
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=CHANGEME_strong_admin_password
