{% load i18n %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                {% if domain_list %}
                <h4 class="heading-title">{% blocktrans with count=domain_list|length org=organization.name %}{{ count }} Domains associated with organization {{ org }}{% endblocktrans %}</h4> {% for domain in domain_list %}
                <span class="badge badge-soft-primary m-1">{{domain.name}}</span> {% endfor %}
                <br>
                <br> {% endif %}
                <form method="POST" id="start-scan-form">
                    {% csrf_token %}
                    <div id="schedule_scan_steps">
                        <h3>{% trans "Choose the scheduler" %}</h3>
                        <div class="">
                            <div class="form-row">
                                <select class="form-select" onchange="schedulerChanged(this)" name="scheduled_mode" style="line-height: 2.0;">
                                    <option value="periodic">{% trans "Periodic Scan" %}</option>
                                    <option value="clocked">{% trans "Clocked Scan" %}</option>
                                </select>
                            </div>
                            <div class="tab-content" id="animateLineContent-4">
                                <div class="tab-pane fade show active" id="periodic-div" role="tabpanel" aria-labelledby="periodic-tab-tab">
                                    <div class="mb-4">
                                        <h5>{% trans "Run scan every" %}</h5>
                                        <div class="row">
                                            <div class='col-4'>
                                                <input id="t-text" type="number" name="frequency" value="30" class="form-control form-control-lg">
                                            </div>
                                            <div class="col-8">
                                                <select class="form-select" name="frequency_type" style="line-height: 2.0;">
                                                    <option value="minutes">{% trans "Minutes" %}</option>
                                                    <option value="hours">{% trans "Hours" %}</option>
                                                    <option value="days">{% trans "Days" %}</option>
                                                    <option value="weeks">{% trans "Weeks" %}</option>
                                                    <option value="months">{% trans "Months" %}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="clocked-div" role="tabpanel" aria-labelledby="clocked-tab-tab">
                                    <div class="mb-4">
                                        <h5>{% trans "Run scan exactly at" %}</h5>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group mb-0">
                                                    <!--<input id="clockedTime" value="{% now "Y-m-d H:i" %}" class="form-control flatpickr flatpickr-input active" type="text" placeholder="Select Date and time" name="scheduled_time">-->
                                                    <input type="text" id="clockedTime" class="form-control form-control-lg flatpickr flatpickr-input active" placeholder="{% trans 'Select Scheduler Date and time' %}" name="scheduled_time">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>{% trans "Choose Scan Engine" %}</h3>
                        <div class="">
                            <h4>{% trans "Select Scan Engine" %}</h4> {% if custom_engine_count == 0 %}
                            <div class="alert bg-soft-primary border-0 mb-4" role="alert">
                                <span><b>{% trans "Tips!" %} </b> {% trans "You do not have any custom scan engines. Would you like to create your own scan engine?" %}</span>
                                <a href="{% url 'add_engine' current_project.slug %}" class="text-primary">{% trans "Create Custom Scan Engine" %}</a>
                            </div>
                            {% endif %} {% include "startScan/_items/scanengine_accordion.html" %}
                        </div>
                        <h3>{% trans "Import/Ignore Subdomains" %}</h3>
                        <div class="">
                            <div class="mb-3">
                                <h4 class="text-info">{% trans "Import Subdomains(Optional)" %}</h4>
                                <span class="">{% blocktrans with name=domain.name %}You can import subdomains for <b>{{ name }}</b> using your private recon tools.{% endblocktrans %}</span>
                                <br>
                                <div class="alert bg-soft-primary border-0 mt-1 mb-1" role="alert">
                                    <span class="">{% blocktrans with name=domain.name %}Separate the subdomains using <b>new line</b>. If the subdomain does not belong to <b>{{ name }}</b> it will be skipped.{% endblocktrans %}</span>
                                </div>
                                <label for="importSubdomainFormControlTextarea" class="form-label mt-1">{% trans "Subdomains List" %}</label>
                                <textarea class="form-control" id="importSubdomainFormControlTextarea" name="importSubdomainTextArea" rows="6" spellcheck="false"></textarea>
                            </div>
                            <div class="mb-3">
                                <h4 class="text-warning">{% trans "Out of Scope Subdomains (Optional)" %}</h4>
                                <p>{% blocktrans with name=domain.name %}Specify subdomains of <strong>{{ name }}</strong> to exclude from scanning. These subdomains will be omitted from all subsequent scans, including URL discovery and vulnerability assessments.{% endblocktrans %}</p>
                                <p>{% trans "Enter one subdomain or pattern per line. Both plain text and regex patterns are supported." %} <span class="badge bg-soft-primary text-primary ms-2">{% trans "New" %}</span></p>
                                <div class="mt-2 mb-2">
                                <li>{% trans "For plain text:" %} <code>admin.example.com</code></li>
                                <li>{% trans "For regex:" %} <code>^.*outofscope.*\.com$</code>, <code>admin.*</code> {% trans "etc" %}</li>
                                </div>
                                <label for="outOfScopeSubdomainTextarea" class="form-label mt-1">{% trans "Out of Scope Subdomains List" %}</label>
                                <textarea class="form-control" id="outOfScopeSubdomainTextarea" name="outOfScopeSubdomainTextarea" rows="6" spellcheck="false" placeholder="{% trans 'Enter subdomains or patterns, one per line' %}"></textarea>
                            </div>
                        </div>
                        <h3>{% trans "URL Scope and Exclusions" %}</h3>
                        <div class="mb-4">
                            <div class="mb-3">
                                <h4 class="text-info">{% trans "Starting Point Path (Optional)" %}</h4>
                                <input type="email" class="form-control" id="startingPointPath" placeholder="{% trans 'e.g. /home' %}" name="startingPointPath">
                                <small class="form-text text-muted">
                    {% blocktrans with name=domain.name %}Defines where the scan should begin. Leave blank to scan from the root (/) and include all subdomains.
                    <br>
                    If a path is provided (e.g., /home), the scan will focus only on that path and its subpaths,
                    skipping subdomain scanning. For example, entering '/home' for {{ name }} will scan
                    https://{{ name }}/home, but not other parts of {{ name }} or its subdomains.{% endblocktrans %}
                    </small>
                            </div>
                            <div class="mb-3">
                                <h4 class="text-warning">{% trans "Excluded Paths (Optional)" %}</h4>
                                <input type="text" id="excludedPaths" value="{{excluded_paths}}" name="excludedPaths">
                                <small class="form-text text-muted">
                    {% trans "Enter paths or regex patterns to exclude from the scan. Type a path or pattern and press Enter to add it. Supports both exact path matching and regex patterns. Examples:" %}<br>
                    • <code>/admin</code> {% trans "excludes paths starting with '/admin'" %}<br>
                    • <code>/images/.*\.jpg</code> {% trans "excludes all .jpg files in the images directory" %}<br>
                    • <code>/static/(?:css|js)/</code> {% trans "excludes all contents of /static/css/ and /static/js/" %}<br>
                    <b>{% trans "Common exclusions:" %}</b><br>
                    • {% trans "Static assets:" %} <code>/images/.*</code>, <code>/css/.*</code><br>
                    <br>
                    <b>{% trans "Note: Use regex patterns carefully. While exclusions can speed up scans, be cautious not to exclude critical areas that may contain vulnerabilities. Test your patterns to ensure they match as intended." %}</b>
                    </small>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>